.mail-me-button{
margin-top: 10px !important;
    width: 400px !important;
}
.mail-me{
    margin-top: 10px !important;

}
.open-button{
    margin-right: 15px !important;
}
.windows-logo{
    margin-right: 50px !important;

}